<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cs442.srajan.thescheduler">

    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />

    <applicationco
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity
            android:name=".FutureClassesActivity"
            android:label="@string/title_activity_future_classes">

            <!-- Parent Activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cs442.srajan.thescheduler.FutureClassesActivity" />
        </activity>
        <activity android:name=".SignUpActivity">

            <!-- Parent Activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cs442.srajan.thescheduler.SignUpActivity" />
        </activity>
        <activity android:name=".CalenderViewActivity">

            <!-- Parent Activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cs442.srajan.thescheduler.CalenderViewActivity" />
        </activity>
        <activity android:name=".LoginActivity">

            <!-- Parent Activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cs442.srajan.thescheduler.LoginActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ClassListActivity" />
        <activity android:name=".DetailActivity" />
        <activity
            android:name=".ViewAllClasses"
            android:label="@string/title_activity_view_all_classes" />
        <activity android:name=".LocationChooserActivity"></activity>
    </applicationco>

</manifest>